images/*
.idea/
.venv/*
face_extractor/.venv/*



.pw-browsers/*
crawls/*
*.backup.*
.scrapy/*
doppelganger/__pycache__/*

*.pkl
face_extractor/arcface_work
face_extractor/*.pkl
face_extractor/results/*

face_extractor/uploads/*
face_extractor/static/*

face_extractor/arcface_work/embeddings.pkl
*.pkl*
face_extractor/arcface_work/processed.jsonl
face_extractor/arcface_work/embeddings.pkl
.pw-browsers/*
crawls/*
